footer .rights {
  background-color: #dddbd9;
}

footer .rights section {
  display: flex;
  justify-content: space-between;
}

footer .rights section > div {
  padding: 10px 20px;
}

footer .flex-footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

footer .flex-footer div {
  padding: 0 15px;
}
