header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

header .icon-set-header > div {
  padding: 0.8rem !important;
  border: 1px solid #edf1ff !important;
}

header nav .menu a {
  display: inline-block;
  padding: 10px;
}

.show {
  display: block;
}

header.center-bellow section {
  position: relative;
}

header.center-bellow section > div {
  display: flex;
  align-items: center;
  /* padding: 10px; */
}

/*dropdown menu*/

header nav .dropdown {
  background-image: url(/svg/down.svg);
  background-repeat: no-repeat;
  background-position: right 3px;
  /* padding-right: 14px; */
  background-size: 40px;
  cursor: pointer;
}

header nav .dropdown > div {
  position: absolute;
  box-shadow: 0 4px 3px 0 rgba(209, 156, 151, 0.35),
    0 0 1px 0 rgba(180, 144, 90, 0.25);
}

header nav .dropdown > div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  text-align: left;
  background-color: #fff;
  z-index: 1;
}
header nav .dropdown > div a {
  font-size: 17px;
  text-align: left;
}

@media (max-width: 920px) {
  header nav {
    display: none;
  }

  header.center-bellow section > div .logo {
    margin-inline: auto;
    margin-left: 10px;
  }

  header nav .dropdown > div {
    padding-left: 5px 20px 5px 10px;
  }

  header nav .dropdown,
  header nav .about,
  header nav .contact {
    text-align: left;
    border-bottom: 1px solid #edf1ff;
  }

  .header-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  header nav .menu a {
    display: block;
  }
}

@media (min-width: 921px) {
  header section .E {
    display: none;
  }

  header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .icon-set-header > div:not(:last-child) {
    padding-right: 7px;
  }

  header.center-bellow nav > div:not(.icon-set-header) {
    display: inline-block;
    margin: 10px 0;
  }

  header.center-bellow nav .icon-set-header {
    position: absolute;
    top: 37px;
    right: 40px;
  }

  header.center-bellow nav .lng {
    position: absolute;
    top: 35px;
    left: 40px;
  }

  header.center-bellow section > div .logo {
    margin-inline: auto;
  }

  header nav > div > div {
    display: inline-block;
  }

  header nav .dropdown:hover > div {
    max-height: 100vh;
  }

  header nav .dropdown {
    text-align: center;
  }

  header nav .dropdown div div {
    padding: 0 20px;
  }

  header nav .dropdown div div:first-child {
    margin-top: 10px;
  }

  header nav .dropdown div div:last-child {
    margin-bottom: 10px;
  }
}
